# Ignore sensitive files
config/secrets.json
config/.env

# Virtual environment
venv/
__pycache__/
*.pyc

# Environment variables
.env

# Database files
*.sqlite3

# IDE/editor settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log

# Unused
unused/*